.footer {
  background-color: var(--secondary-color);
  display: flex;
  padding: 20px;
  height: 150px;
}
.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-text {
  margin-bottom: 10px;
}
.icons-footer{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}
.icons-footer i:hover {
  color: #3444f6;
  transition: color 200ms linear;
}